*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    width: 100% !important; 
}

body{
    max-width: 1600px;
    justify-self: center;
}

/*-------------------HOME-------------------*/

.contenedor_home{
    display: flex;
    padding: 3%;
}

.texto_home{
    width: 50%;
    padding: 3%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
    min-width: 300px;
}

.texto_home h1{
    font-size: 90px;
}

.home_img{
    object-fit: contain;
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}

@media (max-width: 600px) {
    .contenedor_home{
        flex-flow: row wrap;
        justify-content: center;
    }

    .texto_home p{
        text-align: justify;
    }
}

.barra_home{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    background-color:rgb(206, 219, 230);
    justify-content: space-around;
}

.barra_home i{
    color: rgb(15, 15, 128);
    font-size: 60px;
    padding: 3%;
}

.barra_home i:hover{
    transform: scale(1.4);
}

/*-------------------GALERIA-------------------*/


/* Contenedor de productos usando CSS Grid */ 
.objeto_cont { 
    display: grid; /* Cambiado de flex a grid */ 
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Definidas columnas responsivas */ 
    gap: 20px; /* Espacio entre las cards */ 
    padding: 20px; /* Padding alrededor del contenedor */ 
}

.objeto_card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 15px;
    margin: 50px 0; /*Ajustado*/
    gap: 2%;
    border: 1px solid rgb(15, 15, 128);
    border-radius: 15px;
    background-color: rgb(228, 222, 222);
}

.objeto_text{
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4%;
    width: 40%;
}

.objeto_card img{
    width: 60%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 600px) {
    .pobjeto_cont{
        display: flex;
        flex-flow: row wrap;
    }

    .objeto_card{
        flex-flow: column wrap;
        align-content: center;
        align-items: center;
        gap: 10px;
        margin: 20px;
        padding: 3%;
    }

    .objeto_text{
        width: 100%;
        text-align: center;
        gap: 15px;
    }
}

/*-------------------ABOUT US-------------------*/

.about_us_cont{
    width: 100%;
}

.presentacion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
}

.presentacion h1{
    width: 30%;
    font-size: clamp(2rem, 6vw, 15rem);
    padding: 10px;
    align-content: end;
}

.video_link{
    font-size: xx-small;
}

#video{
    width: 100%;
    max-width: 1000px;
    border-radius: 10px;
}

@media (max-width: 750px) {
    .presentacion{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
    }
    
    .video_link{
        width: 100%;
        max-width: 650px;
        margin: 10px;
    }
    
    .presentacion h1{
        width: 100%;
        font-size: 80px;
        text-align: center;
    }

    #video{ 
        width: 100%; 
    }

}

@media (max-width: 1500px) {
    .presentacion h1{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/*-------------------AU-TEXT-------------------*/

.au_texto{
    width: 90%;
    text-align: justify;
    justify-self: center;
    align-content: center;
    font-size: clamp(1rem, 2vw, 3rem);
    margin: 3%;
}

.au_cont{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px;
}

.au_texto_img{
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 10px;
}

.au_texto_img p{
    padding: 10px;
    font-size: clamp(1rem, 2vw, 3rem);
}

.au_texto_img img{
    width: 55%;
    max-width: 300px;
    object-fit: contain;
}

/*-------------------CARRUSEL-------------------*/

/* Contenedor general del carrusel */
.au_carrusel{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.au_carrusel_wrapper{
    display: flex;
    align-items: center;
}

.au_carrusel_cont {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

/* Tarjetas del carrusel */
.au_carrusel_item {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
}

.au_carrusel_item img{
    width: 70%;
    justify-self: center;
    border-radius: 10px;
}

/* Tarjeta activa */
.item_carrousel-activa {
    display: block; 
    opacity: 1;
}

/* Flechas de navegación */
.au_carrusel_flechas{
    align-self: center;
    width: 100%;
}

.flecha {
    position: absolute;
    transform: translateY(-75%);
    max-width: 750px;
    background-color: transparent; 
    color: black;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
}

/* Ajuste para pantallas grandes */
.flecha_izquierda {
    left: 25%;
}

.flecha_derecha {
    right: 25%;
}

/* Efecto hover */
.flecha:hover {
    
}

/* En pantallas medianas */
@media (max-width: 1200px) {
    .flecha_izquierda {
        left: 10px;
    }
    
    .flecha_derecha {
        right: 10px;
    }
}


/*Img con tamaño fijo y salto de ubicación de las flechas*/